<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40280189962-11c1eaqdubfmhvdv97bg7q67ie1ou5c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40280189962-11c1eaqdubfmhvdv97bg7q67ie1ou5c9</string>
	<key>API_KEY</key>
	<string>AIzaSyA9oRyXruy3hXyQf_gRPa9prnR1bGEyEyk</string>
	<key>GCM_SENDER_ID</key>
	<string>40280189962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thepan.woohwedahm</string>
	<key>PROJECT_ID</key>
	<string>reservation-a8257</string>
	<key>STORAGE_BUCKET</key>
	<string>reservation-a8257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40280189962:ios:1ae63f192196f5c8a4c3f3</string>
</dict>
</plist>